<div class="row">
	<div class="col-xs-3 col-xs-offset-4">
		<%= render 'layouts/question', :question => @question, :answer => @answer %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-3 col-xs-offset-4">
		<form action="<%= user_question_answers_url(current_user, @question) %>" method="post">
			
			<input type="hidden" 
						 name="authenticity_token"
						 value="<%= form_authenticity_token %>">

			<div class="form-group">
				<textarea type="text" 
									placeholder="Add your answer here."
									class="form-control" 
							 		id="answer_body"
							 		name="answer[body]"></textarea>
			</div>
			
			<button type="submit" class="btn btn-xs btn-info pull-right">Add Answer</button>
		</form>
		
		<% unless @answer %>
			<%= render 'layouts/answers', :answers => @question.answers %>	
		<% end %>
	</div>
</div>
