<% provide(:title, 'About Us') %>
<div class="jumbotron">
  <div class="row text-center">
    <div class="col">
      <h3 class="yellow-header">SO, BASICALLY, IT'S LIKE A QUORA</h3>
      <h3 class="green-header">FOR STOLEN GOODS!</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-5">
      When the people who provide online access stopped caring about you, we started. The internet is an amazing platform that has brought incredible innovation, yet the service connecting you to it is lacking progression. Unclear pricing. Uneffective support. Small print. We believe in totally different things.
    </div>
    <div class="col-sm-5 col-sm-offset-2">
      For instance, by allowing you to pay for your own usage as you go, without a contract. Or with Social Bandwidth, enabling you to share your connection with those around you. There's a lot that needs fixing. As we reinvent how we get connected, we'll ask ourselves two basic questions. Is this simple? Is this honest?
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <h1>Meet the team</h1>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <img src="http://scoopempire.com/wp-content/uploads/2013/10/Pomsky.png"
         alt="pomsky"
         class="img-circle"
         width="400"
         height="275">
   <h2>Mike</h2>
   <div class="col-xs-6 col-xs-offset-3">
   	 <p>Rump anim sunt cow, tongue andouille swine chicken ham hock nulla ham pig fatback t-bone in. Dolore bacon consequat chicken sunt capicola biltong. Tail irure prosciutto flank adipisicing, pariatur sint magna ham hock sunt mollit. Filet mignon salami cillum eu. Kevin sausage est laboris pastrami duis spare ribs et swine salami eiusmod sed. Bresaola tri-tip et cupidatat in strip steak. Fugiat enim filet mignon chuck, brisket strip steak turkey sunt pancetta cillum.
   </p>
   </div>
  </div>
</div>