<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
    <form action="#" id="new-contact-form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" id="name">
      </div>

      <div class="form-group">
        <label for="phone-number">Phone Number:</label>
        <input type="text" class="form-control" id="phone-number">
      </div>
      <button type="button" id="new-contact-button" class="btn btn-success btn-lg" data-toggle="modal"
      data-target="#newContactModal">
        Add Contact
      </button>
    </form>
  </div>

  <div class="col-xs-4">
    <table class="table table-striped">
      <tr>
        <td class="active">Someone</td>
        <td class="active">Did it</td>
      </tr>

      <tr>
        <td class="success">Not me</td>
        <td class="success">For sure</td>
      </tr>

      <tr>
        <td class="warning">There's no one</td>
        <td class="warning">Else here</td>
      </tr>

      <tr>
        <td class="danger">This is all</td>
        <td class="danger">Your fault</td>
      </tr>
    </table>
  </div>
</div>

<div class="modal fade" id="newContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->