<div class="center hero-unit">
  <h1>Welcome to Questiona</h1>

  <h2>
  	Get rid of all your doubts
  </h2>

  <h2>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-info" %>
  </h2>
</div>