<div class="col-xs-4 col-xs-offset-4">
	<ul>
		<% if @users %>

			<% @users.each do |user| %>
				<li><%= render 'layouts/show_user', :user => user %></li>
			<% end %>
			
		<% else %>
			<%= render 'layouts/header' %>
		<% end %>
	</ul>
</div>