<div class="col-xs-4 col-xs-offset-4">
	<ul>
		<% @results.each do |result| %>
			<% if result.class == User %>
				<%= render 'layouts/show_user', :user => result %>
			<% else %>
				<%= render 'layouts/question', :question => result, :index => true %>
			<% end %>
			<hr>
		<% end %>
	</ul>
</div>