/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body{
	padding-top: 70px;
	/*background-color: aliceblue; */
}

.navbar-header{
  padding-left: 8%;
}

#search-box{
  width:500px;
  height:33px;
}

#logo{
  font-family: Verdana, sans-serif;
  line-height: 1em;
  color: grey;
  font-weight:bold;
  font-style:italic;
  font-size: 1.7em;
  text-transform: uppercase;
  padding-top: 10px;
  z-index: 1; 
  position:relative;
/*  text-shadow:0px 0px 0 rgb(142,142,142),
              1px 1px 0 rgb(122,122,122),
              2px 2px 0 rgb(103,103,103),
              3px 3px 0 rgb(84,84,84),
              4px 4px 0 rgb(64,64,64),
              5px 5px 0 rgb(45,45,45),
              6px 6px 0 rgb(26,26,26),
              7px 7px 6px rgba(0,0,0,0.6),
              7px 7px 1px rgba(0,0,0,0.5),
              0px 0px 6px rgba(0,0,0,.2);
*/  
}

#logo:hover {
  color: black;
  text-decoration: none;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 7px 10px;
    pointer-events: none;
}

.dropdown .merged {
    margin:10px;
}
.dropdown .merged .left-inner-addon {
    border-right: 0px;
    background-color: #FFFFFF;
}

.dropdown .merged input {
    width:190px;
    border-left: 0px;
    background-color: #FFFFFF;
}

.focusedInput {
    border-color: rgba(82,168,236,.8) ;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
         box-shadow: 0 0 8px rgba(82,168,236,.6);
}

#logout-button{
  margin:10px;
  margin-bottom: 10px;
  
  width: 120px;
  height: 32px;
  font-size: 13px;
}

.dropdown #login-button{
  margin:10px;
  margin-bottom: 10px;
  
  width: 190px;
  /*height: 32px;*/
  /*font-size: 13px;*/
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.0em;
  line-height: 1.7em;
}

label{
  font-size: 1.3em;
}


 /* Footer */

 * {
  margin: 0;
}
html, body {
  height: 100%;
}
#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  height: 4em;
}

#post:hover{
  /*background-image: -webkit-linear-gradient(#ff1d1b,#cd0200 50%,#b90200);
  background-image: linear-gradient(#ff1d1b,#cd0200 50%,#b90200);
  background-repeat: no-repeat;*/
  border: 1px solid cyan;
}

#delete:hover{
  background-image: -webkit-linear-gradient(#7bbdf7,#3399f3 50%,#208ff2);
  background-image: linear-gradient(#7bbdf7,#3399f3 50%,#208ff2);
  background-repeat: no-repeat;
  border: 1px solid #0e80e5;
}

.ask-button>button{
  margin-top: 7px;
}

.navbar-nav>li>a{
  color:black;
  padding-top: 13px;
}

.navbar-nav>li>a:hover {
  color:lightgray !important;
  padding-top: 13px;
}

.modal-title{
  padding-left: 225px;
}

.my-hidden{
  visibility: hidden;
}

.topic{
  display: inline-block;
  border-radius: 10px;
}