<div class="col-xs-4 col-xs-offset-4" id="alerts">
	<% flash.each do |key, value| %>
		<% value.each do |error| %>
			<div class='<%="alert alert-#{key}"%>'><%= error %></div>
  	<%end%>
  <% end %>
</div>