<div class="col-xs-10">
	<table>
		<% feed.each do |entry| %>
		<tr>
			<td>
				<div class="row">
					<%= render 'layouts/entry', :entry => entry %>
				</div>		
			</td>
		</tr>
	
	<% end %>	
	</table>
	
</div>